{% if u.advertOptionType.id == 1 %}
    {% if u.user == app.user and u.advert.user != app.user  %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}

                        <h4>Vous êtes interessé par : <a class="text-bold"
                                                         href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>

                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.advert.user.avatar.path) }}"
                                 alt="{{ u.advert.user.username }}" class="img-circle avatar20">
                            {{ u.advert.user.username }} le {{ u.created|date('d/m/Y \\à\\ h:i') }}
                            <span class="pull-right">
                                <a href="{{ path('snoozit_platform_panier_homepage') }}"
                                   class="label label-cat-multimedia"> Afficher </a>
                            </span>
                        </p>

                        <p class="text-center">
                            <a href="{{ path('snoozit_dashboard_desist_interest', {'id' : u.id }) }}"
                               class="text-grey"><i class="fa fa-remove"></i> Annuler cet interet</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% elseif u.user != app.user and u.advert.user == app.user %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}

                        <h4>
                            Nouvel interet pour : <a class="text-bold"
                                                     href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>

                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.user.avatar.path) }}"
                                 alt="{{ u.user.username }}" class="img-circle avatar20">
                            {{ u.user.username }} le {{ u.updated|date('d/m/Y \\à\\ h:i') }}
                            <span class="pull-right">
                                <a href="{{ path('snoozit_dashboard_interest') }}" class="label label-cat-multimedia">
                                    Afficher </a>
                            </span>
                        </p>
                        <p class="text-center">
                            <a href="{{ path('snoozit_dashboard_accept_interest', {'id' : u.id }) }}"
                               class="text-grey">Accepter</a> -
                            <a href="{{ path('snoozit_dashboard_remove_interest', {'id' : u.id }) }}"
                               class="text-grey">Refuser </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% elseif u.advertOptionType.id == 2 %} <!-- Si on est en phase de confirmation d'interet -->
    {% if u.user == app.user and u.advert.user != app.user %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}

                        <h4>
                            Interet en attente : <a class="text-bold"
                                                    href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>

                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.user.avatar.path) }}"
                                 alt="{{ u.user.username }}" class="img-circle avatar20">
                            {{ u.user.username }} le {{ u.updated|date('d/m/Y \\à\\ h:i') }}
                            <span class="pull-right">
                                <a href="{{ path('snoozit_dashboard_interest') }}" class="label label-cat-multimedia">
                                    Afficher </a>
                            </span>
                        </p>
                        <p class="text-center">
                            <a href="{{ path('snoozit_platform_confirm_achat', {'id' : u.id}) }}" class="text-success"><i class="fa fa-check"></i> Confirmer cet achat</a> -
                            <a href="{{ path('snoozit_dashboard_remove_refus_from_interface', {'id' : u.id}) }}" class="text-grey"><i class="fa fa-remove"></i> Se désister</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        {% elseif u.user != app.user and u.advert.user == app.user %}
            <section>
                <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if u.advert.pictureOne %}
                                <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                     class="img-responsive advert-img pull-left img-thumbnail">
                            {% else %}
                                <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                     class="img-responsive advert-img pull-left img-thumbnail">
                            {% endif %}

                            <h4>
                                Interet en attente : <a class="text-bold"
                                                        href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                            </h4>

                            <p class="text-grey">
                                <img src="{{ asset('uploads/avatar/'~u.user.avatar.path) }}"
                                     alt="{{ u.user.username }}" class="img-circle avatar20">
                                {{ u.user.username }} le {{ u.updated|date('d/m/Y \\à\\ h:i') }}
                                <span class="pull-right">
                                <a href="{{ path('snoozit_dashboard_interest') }}" class="label label-cat-multimedia">
                                    Afficher </a>
                            </span>
                            </p>
                            <p class="text-center">
                                <a href="{{ path('snoozit_dashboard_desist_interest', {'id' : u.id }) }}">Annuler cet encours</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
    {% endif %}
{% elseif u.advertOptionType.id == 6 %} <!-- Si on est en phase de confirmation d'interet -->
    {% if u.user == app.user and u.advert.user != app.user %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="travers rotate text-bold">
                            <span class="attentevalidation">En attente</span>
                        </div>
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}

                        <h4>
                            En attente de confirmation: <a class="text-bold"
                                                      href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>

                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.advert.user.avatar.path) }}"
                                 alt="{{ u.advert.user.username }}" class="img-circle avatar20">
                            {{ u.advert.user.username }} le {{ u.updated|date('d/m/Y \\à\\ h:i') }}
                            <span class="pull-right">
                                <a href="{{ path('snoozit_dashboard_interest') }}" class="label label-cat-multimedia">
                                    Afficher </a>
                            </span>
                        </p>
                        <p class="text-center">
                            <a href="{{ path('snoozit_dashboard_remove_refus_from_interface', {'id' : u.id}) }}" class="text-grey"><i class="fa fa-remove"></i> Se désister</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% elseif u.user != app.user and u.advert.user == app.user %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="travers rotate text-bold">
                            <span class="attentevalidation">A valider</span>
                        </div>
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}

                        <h4>
                            Confirmer cette vente: <a class="text-bold"
                                                    href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>

                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.user.avatar.path) }}"
                                 alt="{{ u.user.username }}" class="img-circle avatar20">
                            {{ u.user.username }} le {{ u.updated|date('d/m/Y \\à\\ h:i') }}
                            <span class="pull-right">
                                <a href="{{ path('snoozit_dashboard_interest') }}" class="label label-cat-multimedia">
                                    Afficher </a>
                            </span>
                        </p>
                        <p class="text-center">
                            <a href="{{ path('snoozit_dashboard_interest_confirm_vente', {'id' : u.id }) }}"
                               class="text-success"><i class="fa fa-check"></i> Confirmer cette vente</a> -
                            <a href="{{ path('snoozit_dashboard_remove_interest', {'id' : u.id }) }}"
                               class="text-grey"><i class="fa fa-remove"></i> Annuler cet encours</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% elseif u.advertOptionType.id == 7 %} <!-- Si on est en phase d'attente de paiement -->
    {% if u.user == app.user and u.advert.user != app.user %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="travers rotate text-bold">
                            <span class="attentevalidation">Transferable</span>
                        </div>
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}
                        <h4>
                            Il est temps de finaliser: <a class="text-bold"
                                                           href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>
                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.advert.user.avatar.path) }}"
                                 alt="{{ u.advert.user.username }}" class="img-circle avatar20">
                            {{ u.advert.user.username }} le {{ u.updated|date('d/m/Y \\à\\ H:i') }}
                            <span class="pull-right">
                                <a href="{{ path('snoozit_dashboard_interest') }}" class="label label-cat-multimedia">
                                    Afficher </a>
                            </span>
                        </p>
                        <p class="text-center">
                            <a href="{{ path('snoozit_platform_produit_recu', {'id' : u.id }) }}"
                               class="text-success"><i class="fa fa-check"></i> Produit reçu</a> -
                            <a href="{{ path('snoozit_dashboard_remove_refus_from_interface', {'id' : u.id}) }}" class="text-grey"><i class="fa fa-remove"></i> Se désister</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% elseif u.user != app.user and u.advert.user == app.user %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="travers rotate text-bold">
                            <span class="attentevalidation">Transferable</span>
                        </div>
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}
                        <h4>
                            Il est temps de finaliser: <a class="text-bold"
                                                      href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>
                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.user.avatar.path) }}"
                                 alt="{{ u.user.username }}" class="img-circle avatar20">
                            {{ u.user.username }} le {{ u.updated|date('d/m/Y \\à\\ H:i') }}
                            <span class="pull-right">
                                <a href="{{ path('snoozit_dashboard_interest') }}" class="label label-cat-multimedia">
                                    Afficher </a>
                            </span>
                        </p>
                        <p class="text-center">
                            <a href="{{ path('snoozit_platform_argent_recu', {'id' : u.id }) }}"
                               class="text-success"><i class="fa fa-check"></i> Paiement reçu</a> -
                            <a href="{{ path('snoozit_dashboard_remove_interest', {'id' : u.id }) }}"
                               class="text-grey"><i class="fa fa-remove"></i> Annuler cet encours</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- La vente est réussie -->
    {% endif %}
{% elseif u.advertOptionType.id == 4 %}
    {% if u.user == app.user and u.advert.user != app.user %}
        <section>
            <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="travers rotate text-bold">
                            <span class="attentevalidation">Félicitation !</span>
                        </div>
                        {% if u.advert.pictureOne %}
                            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% else %}
                            <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                 class="img-responsive advert-img pull-left img-thumbnail">
                        {% endif %}
                        <h4>
                            Vous venez d'acheter: <a class="text-bold" href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                        </h4>
                        <p class="text-grey">
                            <img src="{{ asset('uploads/avatar/'~u.user.avatar.path) }}"
                                 alt="{{ u.user.username }}" class="img-circle avatar20">
                            {{ u.user.username }} le {{ u.updated|date('d/m/Y \\à\\ H:i') }}
                        </p>
                        <p class="text-bold text-success">Faites en bon usage!</p>
                    </div>
                </div>
            </div>
        </section>
        {% elseif u.user != app.user and u.advert.user == app.user %}
            <section>
                <div class="well well-sm userLogsBox text-center" style="border-left-color: #296192">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="travers rotate text-bold">
                                <span class="attentevalidation">Vendu !</span>
                            </div>
                            {% if u.advert.pictureOne %}
                                <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="{{ u.advert.title }}"
                                     class="img-responsive advert-img pull-left img-thumbnail">
                            {% else %}
                                <img src="{{ asset('uploads/annonce/noAvatar.png') }}" alt="{{ u.advert.title }}"
                                     class="img-responsive advert-img pull-left img-thumbnail">
                            {% endif %}
                            <h4>
                                Vous venez de vendre: <a class="text-bold" href="{{ path('snoozit_platform_panier_homepage') }}">{{ u.advert.title }}</a>
                            </h4>
                            <p class="text-grey">
                                <img src="{{ asset('uploads/avatar/'~u.user.avatar.path) }}"
                                     alt="{{ u.user.username }}" class="img-circle avatar20">
                                {{ u.user.username }} le {{ u.updated|date('d/m/Y \\à\\ H:i') }}
                            </p>
                            <p class="text-bold text-success">Vous venez de gagner {{ u.advert.price }}€</p>
                        </div>
                    </div>
                </div>
            </section>
    {% endif %}
{% endif %}