{% if u.user == app.user and u.owner != app.user %}
    <section>
        <div class="well well-sm userLogsBox text-center" style="border-left-color: #00a300">
            <div class="row">
                <div class="col-xs-12">
                    {% if u.userAsked.avatar %}
                        <img src="{{ asset('uploads/avatar/'~u.userAsked.avatar.path) }}" alt="{{ u.userAsked.username }}"
                             class="img-responsive advert-img pull-left img-thumbnail">
                    {% endif %}
                    <h4 class="text-grey"><a href="{{ path('fos_user_profile_show_name', {'username' : u.userAsked.username}) }}">{{ u.userAsked.username }} </a>-
                        <a href="{{ path('snoozit_platform_show_by_city', {'slug' : u.userAsked.city.slug}) }}" class="text-default text-normal">{{ u.userAsked.city.nom }} {{ u.userAsked.city.postal }} </a><span class="text-default text-normal">{{ u.created|date('d M Y à H:i') }}</span></h4>
                    <p>Je {{ u.content }}! </p>
                </div>
            </div>
        </div>
    </section>
{% else %}

    {% if u.user == app.user and u.owner == app.user %}

        {% if u.userAsked is null %}
            <section>
                <div class="well well-sm userLogsBox text-center">
                    {% if u.region is not null %}
                        {% set abo = u.region.nom %}
                        {% set aboRoute = 'snoozit_platform_show_by_region' %}
                        {% set aboSlug = u.region.slug %}
                    {% endif %}

                    {% if u.departement is not null %}
                        {% set abo = u.departement.nom %}
                        {% set aboRoute = 'snoozit_platform_show_by_departement' %}
                        {% set aboSlug = u.departement.slug %}
                    {% endif %}

                    {% if u.city is not null %}
                        {% set abo = u.city.nom %}
                        {% set aboRoute = 'snoozit_platform_show_by_city' %}
                        {% set aboSlug = u.city.slug %}
                    {% endif %}

                    {% if u.category is not null %}
                        {% set abo = u.category.category %}
                        {% set aboRoute = 'snoozit_platform_show_by_category' %}
                        {% set aboSlug = u.category.slug %}
                    {% endif %}

                    <h4 class="text-grey">Nouvel abonnement <span class="text-default text-normal">{{ u.created|date('d M Y à H:i') }}</span>
                    </h4>
                    <p> {{ u.content }} <a href="{{ path(aboRoute, {'slug': aboSlug}) }}">{{ abo }}</a> </p>
                </div>
            </section>
        {% else %}
            <section>
                <div class="well well-sm userLogsBox text-center" style="border-left-color: #00a300">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if u.user.avatar %}
                                <img src="{{ asset('uploads/avatar/'~u.userAsked.avatar.path) }}" alt="{{ u.userAsked.username }}"
                                     class="img-responsive advert-img pull-left img-thumbnail">
                            {% endif %}
                            <h4 class="text-grey">Abonnement <span class="text-default text-normal">{{ u.created|date('d M Y à H:i') }}</span></h4>
                            <p>{{ u.content }} <a href="{{ path('fos_user_profile_show_name', {'username' : u.userAsked.username}) }}">{{ u.userAsked.username }}</a> de   {{ u.userAsked.city.nom }} {{ u.userAsked.city.postal }}</p>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}


    {% endif %}

{% endif %}
