<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}SnoozIt | Register {% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/snoozitplatform/css/bootstrap.min.css'
        'bundles/snoozitplatform/css/jquery-ui.min.css'
        'bundles/snoozitplatform/css/user.css'
        'bundles/snoozitplatform/css/font-awesome.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-default text-uppercase">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand text-capitalize" href="{{ path('snoozit_platform_homepage') }}">Snoozit</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li  class="active"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                            <li><a href="{{ path('snoozit_add_advert') }}">Publier une annonce <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Blog</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->

            </nav>
        </div>
    </div>

    <!-- Contenu -->
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <section role="presentation">
                <div class="well well-lg">
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </section>
        </div>
    </div>
</div>
{% block javascripts %}
    {% javascripts
    'bundles/snoozitplatform/js/jquery-2.1.3.min.js'
    'bundles/snoozitplatform/js/jquery-ui.min.js'
    'bundles/snoozitplatform/js/bootstrap.min.js'
    'bundles/snoozitplatform/js/platform.js'
    'bundles/snoozitplatform/js/autocomplete.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
