<div class="well well-sm" id="globalstats">
    <div class="clearfix text-center">

        <a class="col-md-3" href="#">
            <h5 >Négociation</h5>
            <p class="text-grey">{{ advert|countAdvertNegoce }}</p>
        </a>
        <a class="col-md-3" href="{{ path('snoozit_dashboard_interest') }}">
            <h5>Interet</h5>
            <p class="text-primary">{{ advert|countAdvertInterest }}</p>
        </a>
        <a class="col-md-3" href="#">
            <h5>Commentaire</h5>
            <p class="text-success"> {{ advert|countAdvertComment }}</p>
        </a>
        <a class="col-md-3" href="#">
            <h5>Vue</h5>
            <p class="text-success">{{ advert.views }}</p>
        </a>

    </div>
</div>

<div class="row" id="show-annonce" role="contentinfo">
    <div class="col-xs-12">
        <div class="well">
            <div class="row">
                <div class="col-md-5 col-xs-12 col-lg-4">
                    <div class="thumbnail bigPic">
                        {% if advert.pictures %}
                            {% if advert.pictureOne is not null %}
                                <img src="{{ asset('uploads/annonce/'~advert.pictureOne.path) }}" alt="..." class="img-responsive">
                            {% else %}
                                <img src="{{ asset('bundles/snoozitplatform/images/no-image-annonce.png') }}" alt="..." class="img-responsive">
                            {% endif %}

                        {% else %}
                            <img src="{{ asset('bundles/snoozitplatform/images/no-image-annonce.png') }}" alt="..." class="img-responsive">
                        {% endif %}
                    </div>
                    <div class="thumbnail-min">
                        <div class="row">

                            <div class="col-xs-12">

                                {% if advert.pictures %}

                                    {% set count = 1%}

                                    {% for p in advert.pictures if (p.path is not null) %}
                                        <div class="col-md-2 col-xs-4 box-img">
                                            <div class="well well-sm">
                                                <img src="{{ asset('uploads/annonce/'~p.path) }}" alt="..." class="img-responsive" />
                                            </div>
                                        </div>
                                        {% set count = count+1 %}
                                    {% endfor %}

                                    {% for i in count..5 %}
                                        <div class="col-md-2 col-xs-4 box-img">
                                            <div class="well well-sm">
                                                <img src="{{ asset('bundles/snoozitplatform/images/no-image-annonce.png') }}" alt="..." class="img-responsive">
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    {% for i in 0..4 %}
                                        <div class="col-md-2 col-xs-4 box-img">
                                            <div class="well well-sm"></div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xs-12 col-lg-8">
                    <div class="box-show-content">

                        <div class="row">
                            <div class="col-md-12 box-content">
                                <div class="content-header box">
                                    <h3>{{ advert.title }}</h3>
                                    <ul class="list-inline ">
                                        <li><a href="{{ path('snoozit_platform_show_by_city', {'slug' : advert.user.city.slug}) }}" class="normal-link">{{ advert.user.city.nom~' ('~advert.user.city.postal~')' }}</a></li>
                                        <li><a href="{{ path('snoozit_platform_show_by_category', {'slug' : advert.category.slug}) }}" class="normal-link">{{ advert.category.category }}</a></li>
                                        <li>{% if advert.delivery %} Livraison possible {% endif %}</li>
                                        <li>{% if advert.urgent %} <i class="fa fa-warning text-danger"></i> Urgent{% endif %}</li>
                                    </ul>
                                </div>
                                <div class="content-infos box">
                                    <div class="row">
                                        <div class="col-xs-7 paiement">
                                            <p>Paiement:
                                                {% if not advert.paypal %} <i class="fa fa-paypal text-primary"></i> Paypal  {% endif %}
                                                {% if not advert.cheque %} <i class="fa fa-hand-paper-o text-primary"></i> Cheque  {% endif %}
                                                {% if not advert.cb %} <i class="fa fa-credit-card text-primary"></i> CB {% endif %}
                                                {% if advert.espece %} <i class="fa fa-money text-primary"></i> Espece {% endif %}
                                            </p>
                                        </div>
                                        <div class=" col-xs-5 price">
                                            <p>{{ advert.price }}€</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Formulaire de négociation -->
                                <div class="content-description box">
                                    <p>
                                        {{ advert.description|truncate(300)|nl2br }}
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="advert-manager">
    <div class="col-md-6">
        <h3>Les interessés</h3>
        <div class="row">
            {% if interest is not empty %}
                {% for n in interest  %}
                    <div class="col-md-12 divNoPadding-right">
                        <div class="well well-sm clearfix">

                            <div class="col-md-3 user-infos">

                                <div class="col-md-8 col-md-offset-2">
                                    <img src="{{ asset('uploads/avatar/'~n.user.avatar.path) }}" alt="{{ n.user.username }}" class="img-circle img-responsive">
                                </div>
                                <div class="col-md-12 text-center">
                                    <h4 >
                                        <a href="{{ path('fos_user_profile_show_name', {'username' : n.user.username}) }}">{{ n.user.username }}</a>
                                    </h4>
                                    <p class="text-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p>
                                        {% if n.user.city.departement.region.id == 24 %}
                                            {% set regionName = 'Paca' %}
                                        {% else %}
                                            {% set regionName = n.user.city.departement.region.nom %}
                                        {% endif %}
                                        <a href="{{ path('snoozit_platform_show_by_region', {'slug' : n.user.city.departement.region.slug}) }}">{{ regionName }}</a>
                                    </p>
                                    <p>
                                        <a href="#">{{ n.user.city.nom }} ({{ n.user.city.postal|truncate(2, false, false) }})</a>
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-success btn-xs btn-rounded btn-block">Vous suit</a>
                                    </p>
                                </div>

                            </div>

                            <div class="col-md-9 advert-infos text-center">

                                <h3 class="text-center"><a href="#" class="text-grey">{{ n.advert.title }}</a></h3>
                                <p><span>{{ n.advert.category.category }}</span>

                                    {% if n.advert.delivery %}
                                        <span>/ Livraison</span>
                                    {% endif %}
                                    {% if n.advert.urgent %}
                                        <span>/ Urgent</span>
                                    {% endif %}
                                    {% if n.advert.espece %}
                                        <span>/ Espece</span>
                                    {% endif %}
                                    {% if n.advert.paypal %}
                                        <span>/ Paypal</span>
                                    {% endif %}

                                </p>

                                <div class="row text-center advertPrice">
                                    <div class="col-md-12 ">
                                        <p class="text-center">Votre prix: <span class="price">{{ n.advert.price }} €</span></p>

                                    </div>
                                </div>

                                <hr>

                                <div class="row ">
                                    <div class="col-md-3 col-md-offset-3">
                                        <a href="#" class="btn btn-primary btn-xs btn-rounded btn-block">Accepter</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{{ path('snoozit_dashboard_remove_interest', {'id' : n.id }) }}" class="btn btn-danger btn-xs btn-rounded btn-block">Refuser</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <h3 class="text-center">Aucune personne n'est interessé.</h3>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6">
        <h3>Les négociations</h3>
        <div class="row">
            {% if negoces is not empty %}
                {% for n in negoces  %}
                    <div class="col-md-12 divNoPadding-right">
                        <div class="well well-sm clearfix">

                            <div class="col-md-3 user-infos">

                                <div class="col-md-8 col-md-offset-2">
                                    <img src="{{ asset('uploads/avatar/'~n.user.avatar.path) }}" alt="{{ n.user.username }}" class="img-circle img-responsive">
                                </div>
                                <div class="col-md-12 text-center">
                                    <h4>
                                        <a href="{{ path('fos_user_profile_show_name', {'username' : n.user.username}) }}">{{ n.user.username }}</a>
                                    </h4>
                                    <p class="text-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <p><a href="#">{{ n.user.city.departement.region.nom }}</a></p>
                                    <p>
                                        <a href="#">{{ n.user.city.nom }} ({{ n.user.city.postal|truncate(2, false, false) }})</a>
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-success btn-xs btn-rounded btn-block">Vous suit</a>
                                    </p>
                                </div>

                            </div>

                            <div class="col-md-9 advert-infos text-center">

                                <h3 class="text-center"><a href="#" class="text-grey">{{ n.advert.title }}</a></h3>
                                <p><span>{{ n.advert.category.category }}</span>

                                    {% if n.advert.delivery %}
                                        <span>/ Livraison</span>
                                    {% endif %}
                                    {% if n.advert.urgent %}
                                        <span>/ Urgent</span>
                                    {% endif %}
                                    {% if n.advert.espece %}
                                        <span>/ Espece</span>
                                    {% endif %}
                                    {% if n.advert.paypal %}
                                        <span>/ Paypal</span>
                                    {% endif %}

                                </p>

                                <div class="row  text-center advertPrice">
                                    <div class="col-md-6">
                                        <p class="text-center">Votre prix: <span class="price">{{ n.advert.price }} €</span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-center">Son offre: <span class="price">{{ n.price }} €</span></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-3">
                                        <a href="#" class="btn btn-primary btn-xs btn-rounded btn-block">Accepter</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{{ path('snoozit_dashboard_remove_negociation', {'id' : n.id}) }}" class="btn btn-danger btn-xs btn-rounded btn-block">Refuser</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center">Aucune négociation en cours.</h3>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8" id="advert-manager-comments">
        <h3> Les commentaires</h3>
        {% if comments is not empty %}
            <div class="well well-sm">
            {% for a in comments %}
                <div class="clearfix box">
                    <div class="col-md-1 col-xs-2 divNoPadding">
                        <img src="{{ asset('uploads/avatar/'~a.user.avatar.path) }}" alt="..." class="img-thumbnail img-responsive" />
                    </div>
                    <div class="col-md-11 col-xs-10">
                        <h4>
                            <a href="{{ path('fos_user_profile_show_name', {'username' : a.user.username}) }}" >{{ a.user.username }}</a> -
                            <a href="{{ path('snoozit_platform_show_by_city', {'slug' : a.user.city.slug}) }}" class="text-primary" >{{ a.user.city.nom }} ({{ a.user.city.postal }})</a>
                             <span class="text-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                        </span>
                        <span class="help-block">
                            <i>
                                {{ a.created|date('d M Y \\à H:i') }}
                            </i>
                        </span>

                        </h4>
                        <p>{{ a.comment }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>

        {% else %}
            <div class="clearfix box">
                <div class="col-md-8">
                    Aucun commentaire pour le moment.
                </div>
            </div>
        {% endif %}
    </div>
</div>


