<div class="img">

    {% if userFollow %}
        {% set followed = 'thumbnail-followed' %}
        {% else %}
            {% set followed = '' %}
    {% endif %}
    {#<i class="fa fa-plus fa-2x befriend"></i>#}
    <img src="{{ asset('uploads/avatar/'~advert.user.avatar) }}" alt="{{ advert.user.username }}" class="img-responsive img-thumbnail {{ followed }}">
</div>
<p>{{ advert.user.username }}</p>
    {% include 'SnoozitPlatformBundle:Site/Templating/Star:starEvaluationLower.html.twig' with {'score': advert.user.userId|GetUserScore } %}
<div class="btn-group-sm">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.user.id != advert.user.userId %}

            {% if not userFollow %}
                <a class="btn btn-success btn-success btn-block " href="{{ path('snoozit_follow_user', {'id' : advert.user.userId}) }}">S'abonner</a>
                {% else %}
                    <a class="btn btn-success btn-success btn-block" href="{{ path('snoozit_follow_user', {'id' : advert.user.userId}) }}">Abonné</a>
            {% endif %}

        {% else %}
            <a class="btn btn-primary btn-block " href="{{ path('fos_user_profile_show_name', {'username' : advert.user.username}) }}"> Fil</a>
        {% endif %}
    {% else %}
        <a class="btn btn-success btn-success btn-block" href="{{ path('fos_user_security_login') }}">Suivre</a>
    {% endif %}
    <a class="btn btn-primary btn-block " href="{{ path('fos_user_profile_show_name', {'username' : advert.user.username}) }}">Profile</a>
</div>

{% if soldToUser is not null %}
    <hr>Acheteur: </hr>
    <div class="img">
        {% if userSoldToFollow %}
            {% set followed = 'thumbnail-followed' %}
        {% else %}
            {% set followed = '' %}
        {% endif %}
        <img src="{{ asset('uploads/avatar/'~soldToUser.avatar.path) }}" alt="{{ soldToUser.username }}" class="img-responsive img-thumbnail {{ followed }}">
    </div>
    <p>{{ soldToUser.username }}</p>
    <a href="{{ path('fos_user_profile_show_name', {'username' : soldToUser.username}) }}" class="user">
        {% include 'SnoozitPlatformBundle:Site/Templating/Star:starEvaluationLower.html.twig' with {'score': soldToUser.id|GetUserScore } %}
    </a>
    <div class="btn-group-sm">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
            {% if app.user != soldToUser %}
                {% if not userSoldToFollow %}
                    <a class="btn btn-success btn-success btn-block " href="{{ path('snoozit_follow_user', {'id' : soldToUser.id}) }}">S'abonner</a>
                {% else %}
                    <a class="btn btn-success btn-success btn-block" href="{{ path('snoozit_follow_user', {'id' : soldToUser.id}) }}">Abonné</a>
                {% endif %}
            {% endif %}
        {% else %}
            <a class="btn btn-success btn-success btn-block" href="{{ path('fos_user_security_login') }}">Suivre</a>
        {% endif %}
        <a class="btn btn-primary btn-block " href="{{ path('fos_user_profile_show_name', {'username' : soldToUser.username}) }}">Profile</a>
    </div>

{% endif %}