<div class="col-xs-12 hidden-form" id="hidden-form-interested">

    <!-- Si le créateur est un invité -->
    {% if advert.user.isGuest %}

        <!-- et que l'utilisateur est connecté  -->
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <span class="pull-right"><i class="fa fa-2x fa-close btn-hidden-form" data-target="#hidden-form-interested"></i></span>
            <p class="help-block">{{ advert.user.username }} n'est pas inscrit, voici donc les moyens mis à votre disposition pour acheter ce produit.</p>

            <div class="form-group">
                {% if advert.user.phone is not empty %}
                    <h3>Téléphone : <span class="text-primary">{{ advert.user.phone }}</span></h3>
                {% endif %}
                <h3>Adresse email:<a href="mailto:{{ advert.user.email }} ">  {{ advert.user.email }}</a></h3>
            </div>

            <!-- L'utilisateur n'est pas connecté -->
        {% else %}

            <span class="pull-right"><i class="fa fa-2x fa-close btn-hidden-form" data-target="#hidden-form-interested"></i></span>
            <p class="help-block">Vous n'êtes pas inscrit, voici donc les moyens mis à votre disposition pour acheter ce produit.</p>

            <div class="form-group">
                {% if advert.user.phone is not empty %}
                    <h3>Téléphone : <span class="text-primary">{{ advert.user.phone }}</span></h3>
                {% endif %}
                <h3>Adresse email:<a href="mailto:{{ advert.user.email }} ">  {{ advert.user.email }}</a></h3>
            </div>

        {% endif %}

    <!-- Si le créateur n'est pas un invité -->
    {% else %}

        <!-- et que l'utilisateur est connecté  -->
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <span class="pull-right"><i class="fa fa-2x fa-close btn-hidden-form" data-target="#hidden-form-interested"></i></span>
            <p class="help-block">Vous n'êtes pas inscrit, voici donc les moyens mis à votre disposition pour acheter ce produit.</p>

            <div class="form-group">
                {% if advert.user.phone is not empty %}
                    <h3>Téléphone : <span class="text-primary">{{ advert.user.phone }}</span></h3>
                {% endif %}
                <h3>Adresse email:<a href="mailto:{{ advert.user.email }} ">  {{ advert.user.email }}</a></h3>
            </div>
        {% endif %}

    {% endif %}
</div>

