<tr>
    <th>
        <div class="travers rotate">
            <span class="desist">Déjà vendu</span>
        </div>
        {% if u.advert.pictureOne is not null %}
            <img src="{{ asset('uploads/annonce/'~u.advert.pictureOne.path) }}" alt="..." class="img-responsive">
        {% else %}
            <img src="{{ asset('uploads/annonce/4ddf6e813832d52e98fe6a735bcb07dd278aca6f.jpeg') }}"
                 alt="..." class="img-responsive">
        {% endif %}
    </th>
    <td class="user">
        <h4>
            <a href="{{ path('fos_user_profile_show_name', {'username' : u.advert.user.username}) }}"
               class="text-bold">{{ u.advert.user.username }}</a>
                <span class="text-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-half-empty"></i>
                </span>
        </h4>
        <h5>{{ u.advert.user.city.departement.region.nom }}
            , {{ u.advert.user.city.departement.nom }}<br>{{ u.advert.user.city.nom }}</h5>
    </td>
    <td class="content">
        <span class="text-bold">#{{ u.id }}</span> -
        <span class="text-default text-normal">Catégorie</span>
        <a href="{{ path('snoozit_platform_show_by_category', {'slug' : u.advert.category.slug}) }}"
           class="text-bold">{{ u.advert.category.category }}
        </a>
        {% if u.updated|NotificationIsNew %}
            <span class="label label-hidden panier_label_new">Nouveauté</span>
        {% endif %}
        <span class="pull-right text-primary text-bold">{{ u.advert.price }} €</span>
        <h4 class="text-bold"><a href="{{ path('snoozit_show_advert', {'id' : u.advert.id, 'slug' : u.advert.slug }) }}" class="text-grey">{{ u.advert.title|truncate(50) }}</a></h4>
    </td>
    <td class="text-center status">
        <a  class="btn btn-danger btn-xs btn-rounded btn-block" href="{{ path('snoozit_dashboard_remove_refus_from_interface', {'id' : u.id}) }}">Archiver ce refus</a>
    </td>
</tr>
