<div class="row fos-user-edit-form-head">
    <div class="text-center">
        <h3>Vos abonnés</h3>
    </div>
</div>

<div class="fos-user-edit-form-body">
    <div id="dsh-no-follow-box">
        <div class="box-content">
            <!-- Followed User  -->
            <div class="row">
                <div class="col-md-12">
                    {% if userFollow|length > 0 %}
                        <h3 class="text-center">Utilisateurs</h3>
                        {% for u in userFollow %}
                            <div class="col-md-4 col-lg-3 box-dsh" id="box{{ u.id }}">

                                <div class="well well-sm clearfix">

                                    <div class="col-md-4 col-md-offset-4">
                                        <img src="{{ asset('uploads/avatar/'~u.avatar.path) }}" alt="..." class="img-responsive img-circle">
                                    </div>

                                    <div class="col-md-12 text-center box">
                                        <h4 class="text-grey">{{ u.username }}</h4>
                                        <p>{{ u.city.nom }}, {{ u.city.postal|truncate(2,'',false) }}</p>
                                        <p class="text-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </p>

                                        <span class="btn btn-xs btn-danger col-md-6 col-md-offset-3 ajaxRefuseAbo" rel="{{ u.id }}">Refusé d'etre suivit </span>

                                    </div>

                                    <div class="col-md-12  box-footer box">
                                        <div class="clearfix">
                                            <div class="col-md-4 ">
                                                <p>Annonces</p>
                                                <p class="text-grey"><strong>{{ u|CountUserAdvert }}</strong></p>
                                            </div>

                                            <div class="col-md-4 diviser ">
                                                <p>Suivis</p>
                                                <p class="text-grey"><strong>{{ u.getFolloweduser|length }}</strong></p>
                                            </div>

                                            <div class="col-md-4 ">
                                                <p>Abonnés</p>
                                                <p class="text-grey"><strong>{{ u.totalFollower}}</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>  <!-- well well-sm clearfix -->

                            </div> <!-- col-md-4 -->
                        {% endfor %}
                    {% else %}
                        <h3>Vous ne suivez aucune personne  pour le moment</h3>
                    {% endif %}
                </div>
            </div>
        </div> <!-- box-content -->
    </div> <!-- #dsh-no-follow-box -->
</div>
