{% trans_default_domain 'FOSUserBundle' %}

<div class="row fos-user-edit-form-head">
    <div class="text-center">
        <h3>Gestion des notifications</h3>
    </div>
</div>
<div class="row fos-user-edit-form-body">

    <div class="col-lg-12 form-content text-center">
        <form action="{{ path('snoozit_user_notifications_edit') }}" class="fos_user_profile_edit form-horizontal form-notification" method="POST" >

            <h3>Souhaitez vous être informé des nouveaux abonnés : </h3>
            <div class="form-group">
                {{ form_widget(form.follower) }}
            </div>
            <h3>Souhaitez vous etre informé des nouveaux commentaires dans vos annonces : </h3>
            <div class="form-group">
                {{ form_widget(form.comment) }}
            </div>
            <h3>Souhaitez vous etre informé lorsqu'un utilisateur est interessé par une de vos annonces : </h3>
            <div class="form-group">
                {{ form_widget(form.advertInterest) }}
            </div>

            <h3>Souhaitez vous etre informé lors des tentatives de négociations : </h3>
            <div class="form-group">
                {{ form_widget(form.advertNegoce) }}
            </div>

            <h3>Souhaitez vous recevoir notre newsletter: </h3>
            <div class="form-group">
                {{ form_widget(form.newsletter) }}
            </div>
            {{ form_rest(form) }}
            <div class="text-center col-md-offset-4 col-md-4">
                <br/>
                <input type="submit" class="btn btn-primary btn-xs btn-rounded btn-block" value="{{ 'profile.edit.submit'|trans }}" />
            </div>

        </form>

    </div>
</div>
