<div class="left-col-dash">
    <div  id="time-advert">
        {% if advertList %}
            {% for a in advertList %}
                <section>
                    <div class="well well-sm box-time-advert">

                        <div class="box-header">
                            <div class="row">
                                <div class="col-md-10">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                                        {% if a.userId|userFollow %}
                                            {% set userFollow = 'followed' %}
                                        {% else %}
                                            {% set userFollow = '' %}
                                        {% endif %}
                                    {% else %}
                                        {% set userFollow = '' %}
                                    {% endif %}

                                    {% if a.guestUsername %}
                                        <img src="{{ asset('uploads/avatar/noAvatar.png') }}" alt="Guest" class="img-circle img-responsive avatar pull-left">
                                    {% else %}
                                        <img src="{{ asset('uploads/avatar/'~a.avatar) }}" alt="{{ a.username }}" class="img-circle img-responsive avatar pull-left {{ userFollow }}">
                                    {% endif %}

                                    <h5>
                                        {% if a.guestUsername %}
                                            {{ a.guestUsername }}
                                        {% else %}
                                            <a href="{{ path('fos_user_profile_show_name', {'username' : a.username}) }}" class="user"> {{ a.username }}
                                                <span class="text-star">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                        <i class="fa fa-star-half-empty"></i>
                                                    </span>
                                            </a>
                                        {% endif %}
                                        <span class="text-default text-normal">dans la catégorie</span>
                                        <a href="{{ path('snoozit_platform_show_by_category', {'slug' : a.category_slug}) }}" class="text-grey">{{ a.category }}</a>
                                    </h5>
                                    <p class="datetime">{{ a.created|date('d M Y \\à h:i') }} -
                                        {{ a.departementName }} -
                                        <a href="{{ path('snoozit_platform_show_by_city', {'slug' : a.city_slug}) }}" class="text-primary">
                                            {{ a.city }} ({{ a.postal|truncate(2,false,false) }})
                                        </a>
                                        {% if a|advertIsNew %}
                                            <span class="label label-hidden">New</span>
                                        {% endif %}
                                    </p>

                                </div>

                                <div class="col-md-2 dropdown text-right divNoPadding-left">
                                    {% include 'SnoozitPlatformBundle:Site/Templating/Annonce:dropdown.html.twig' %}
                                </div>
                            </div>
                        </div>

                        <div class="box-content">
                            <div class="col-md-2 thumbnail">
                                {% if a.picture_path is not null %}
                                    <img src="{{ asset('uploads/annonce/'~a.picture_path) }}" alt="..." class="img-responsive">
                                {% else %}
                                    <img src="{{ asset('bundles/snoozitplatform/images/no-image-annonce.png') }}" alt="..." class="img-responsive">
                                {% endif %}
                            </div>
                            <div class="col-md-10">

                                <h4 class="text-primary"><a href="{{ path('snoozit_show_advert', {'id' : a.id, 'slug' : a.slug}) }}">{{ a.title }}</a></h4>
                                <p class="text-grey text-bold">€ {{ a.price }}</p>

                                <div class="description row">
                                    <span class="text-grey col-md-2">Option</span>
                                <span class="col-md-10 text-lowersize">
                                    {% if a.delivery %}
                                        <i class="fa fa-car"></i> <span>Livraison</span>
                                    {% endif %}
                                    {% if a.urgent %}
                                        <i class="fa fa-warning"></i> <span>Urgent</span>
                                    {% endif %}
                                    {% if a.espece %}
                                        <i class="fa fa-euro"></i> <span>Urgent</span>
                                    {% endif %}
                                    {% if a.paypal %}
                                        <i class="fa fa-paypal"></i> <span>Paypal</span>
                                    {% endif %}
                                </span>
                                </div>

                                <div class="description row">
                                    <span class="text-grey col-md-2">Description</span>
                                <span class="col-md-10">
                                     {{ a.description|truncate(100) }}
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </section>
            {% endfor %}

        {% else %}
            <h3 class="text-grey text-center">Aucune annonce pour le moment.</h3>
        {% endif %}
        {# display navigation #}
        <div class="navigation text-right">
            {{ knp_pagination_render(advertList) }}
        </div>
    </div>
</div>